@charset "UTF-8";

.Wrap{
    width:100%;
    max-width: 1920px;
    margin:0 auto;
}

.headerWrap{
    background: #fff;
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 999;
}

.headerInner > div{
    background:#fff;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    margin: 0px auto;
    padding: 35px 3rem;
}

.headerInner .gnb{

}

.headerInner h1{
    float:left;
}
.headerInner h1 img{
    width:100px;
}
.mainFulpage{
    overflow: hidden; /* 내부 콘텐츠가 넘치는 것을 숨김 */
}

.menuWrap > ul.gnb{
    position: absolute;
    top: 2.2em;
    right: 14em;
    z-index: 99;
}


.menuWrap > ul.gnb > li{
    float:left;
    width:100px;
    font-size:1em;
    font-weight:700;
    text-align:center;
    height: 30px;
    line-height: 30px;
    position: relative;
    word-break: keep-all;
}

.gnb_list02{
    display: none;
    position: absolute;
    top: calc(var(--header-height) - 35px);
    /*left: 50%;*/
    transform: translateX(-22%);
    z-index: 99;
    /* width: 100%; */
    width: 180px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    filter: Alpha(opacity = 0);
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
    font-weight:300;
    background:#002063;
}

.gnb_list02::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0;
    background-color: var(--main-color);
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.gnb_list02 ul li{
    padding:10px 0 10px 0;
}

.gnb_list02 ul li a{
    color:#fff;
}
.langBox{
    float:right;
    font-weight: 700;
}
.langBox ul li:first-child{margin-right:20px}
.langBox ul li{float:left;}

/* 햄버거 메뉴 버튼 스타일 */
.menu-toggle {
    display: none; /* 기본적으로 숨김 */
    font-size:3em;
    background: none;
    border: none;
    cursor: pointer;
}


.mainFulpage{
    clear: both;
}

.mainFulpage h3{
    font-size:4em;
    color:#fff;
    font-weight: 500;
    margin-bottom: 40px;
}

.mainFulpage h4{
    font-size:1.2em;
    line-height: 1.5em;
    color:#fff;
}

.mainFulpage .mainBox01{
    position:relative;
}
.mainFulpage .mainBox01 .mainBox01_img{
    width:100%;
    height:100vh;
    background:url(../images/bg01.webp) no-repeat 50% 50%;
    position:absolute;
    top:0;
    left:0;
}
.mainBox01 .main01_txtBox{
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height :100%;
    display: flex;
    align-items: center;
    justify-content: center;/* 가로 중앙 정렬 */
    text-align:center;
}

.mainBox01 .main01_txtBox .main01_txt{
    display:flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    color: #fff;
}

.mainBox01 .main01_txtBox .main01_txt h2{
    margin:10px 0;
}
.mainBox01 .main01_txtBox .main01_txt button{
    margin-top:180px;
}

.mainBox01 .main01_txt .m_smallTxt{
    font-size:1.2em;
}

.mainBox01 .main01_txt .m_bicTxt{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: bold;
}

.mainBox01 .main01_txt button a{
    font-size:1em;
    color:#fff;
    background:#CE2815;
    padding:15px 60px;
    border-radius:50px;
}

.mainFulpage .mainBox02, .mainFulpage .mainBox03, .mainFulpage .mainBox04{    
    position:relative;
}

.mainFulpage .mainBox02 .main_h_Box{
    position:absolute;
    top:0;
    left:0;
    /*z-index:1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}

.mainFulpage .mainBox02 .main_h_Box > div, .mainFulpage .mainBox03 .main_h_Box > div{
    display: flex;
    flex-direction:column;
    color:#fff;
    margin-top:150px;
    position:relative;
    z-index: 2;
    width:90%;
}

.mainFulpage .mainBox02 .businessBox:before{
    background:rgba(0, 0, 0, 0.6);
    width:100%;
    height:100%;
    display:block;
    content: "";
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}

.businessBox > div{
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin-top:520px;
}

.businessBox > div > p{
    font-size: 2.5em;
    font-weight: 600;
}

.businessBox > div > button{
    border:1px solid #fff;
    padding:15px 20px;
    font-size: 1.5em;
    margin-top:30px;
}

.mainFulpage .mainBox02 .businessBox > div > p,.mainFulpage .mainBox02 .businessBox > div > button{
    position: relative;
    color:#fff !important;
    z-index: 2;
}

.mainFulpage .mainBox02 .businessBox{
    float:left;
    width:50%;
    height:100%;
}
.mainFulpage .mainBox02 .main02_Left{
    background:url(../images/main02_l.webp) no-repeat 50% 50%;
    position:absolute;
    top:0;
    left:0;
}
.mainFulpage .mainBox02 .main02_Right{
    background:url(../images/main02_r.webp) no-repeat 50% 50%;
    position:absolute;
    top:0;
    right:0;
}

.mainBox03 .main_h_Box .prodcutList li a span{
    position: absolute;
    color: #fff;
    background: #2b2b2b;
    padding: 10px;
    right: 0;
    width: 200px;
    bottom: 10%;
}

.partnerWrap h3{
    color:#2B2B2B;
    float:left;
    margin-right:20px;
}
.partnerWrap h4{
    line-height:3.5em;
    color: #2b2b2b;
}
.mainFulpage .mainBox04{
    position:relative;
}
.mainFulpage .mainBox04 > div{
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.mainBox04 button{
    color:#fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    margin-top: 40px;
}

.mainFulpage > section.partnerWrap .titleWrap{
    width:90%;
    margin:50px auto 20px;
}

@media all and (max-width:1920px){

.M_menuWrap{
    display: none;
}
    
.mainFulpage > section{
    width:100%;
    height:100vh;
}

.menuWrap > ul {
    transform: translateX(80px); /* 원하는 좌측 이동 거리 설정 */
}

.mainBox01 .main01_txtBox .main01_txt {
    margin-top: 200px;
}
.mainBox03 button a{
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 1.5em;
    margin-top: 30px;
    color:#fff;
    display: inline-block;
}

.mainBox03 .main_h_Box .prodcutList{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}


.mainBox03 .main_h_Box .prodcutList li{
    width:30%;
    height:320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 35px 3rem;
    float: left;
    border-radius: 25px;
}


}
.mainBox03 .main_h_Box .prodcutList li.carBox{
    background: url(../images/main03_img01.webp) no-repeat;
    background-size: 100%;
}
.mainBox03 .main_h_Box .prodcutList li.mediBox{
    background: url(../images/main03_img02.webp) no-repeat;
    background-size: 100%;
}
.mainBox03 .main_h_Box .prodcutList li.itBox{
    background: url(../images/main03_img03.webp) no-repeat;
    background-size: 100%;
}
.mainFulpage > section.mainBox04{
    height:80vh;
}
.mainFulpage > section.mainBox05{
    height:20vh;
}
.mainFulpage > section.partnerWrap{
    height:270px;
}

@media all and (max-width:994px){

    .menuWrap{
        display:none;
    }
    .M_menuWrap{
        z-index: 9999;
        transition: var(--transition-custom);
    }

    .langBox{
        display:none;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        top: 5px;
        right: 15px;
        color: #CE2815;
    }

    .M_menuWrap {
        /*display: block; /* 모바일 화면에서만 보이도록 설정 */
        height: 100vh;
        position: absolute;
        top: 100px; /* 헤더 높이에 맞게 조정 */
        right: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ccc;
    }

    .M_gnb {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .M_gnb li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .M_gnb a {
        text-decoration: none;
        color: #000;
        display: block;
    }

    .mainFulpage > section{
        width:100%;
    }

    .mainFulpage > section > h3{
        font-size:3.5em;
    }

    .mainFulpage .mainBox01_img01{
        width:100%;
        height:auto;
        object-fit: cover;
    }
    .mainBox01 .main01_txt .m_bicTxt{
        font-size: 3.5em;
        line-height: 1.5em;
        font-weight: bold;
    }
    .mainBox01 .main01_txtBox .main01_txt {
        margin-top: 230px;
    }

    .mainBox03 .main_h_Box .prodcutList{
    padding-top: 100px;
    }   

    .mainBox03 .main_h_Box .prodcutList li{
        height:250px;
        border-radius: 25px;
    }


    .mainFulpage > section.mainBox04{
        height:80vh;
    }
    .mainFulpage > section.mainBox05{
        height:20vh;
    }   
    .mainFulpage > section.partnerWrap{
        height:270px;
    }
    footer.footerWrap .footerInner{
        justify-content: space-between;
    }
}

@media all and (max-width:640px){
    .headerInner > div{
        background:#fff;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--header-height);
        margin: 0px auto;
        padding: 1em;
    }

    .menuWrap{
        display:none;
    }

    .M_menuWrap{
        display: block;
        position: fixed;
        top: 0px;
        right: -82%;
        width: 80%;
        height: 100%;
        background-color: #fff;
        z-index: 9999;
        transition: var(--transition-custom);
        visibility: hidden;
    }
    .mainFulpage > section{
        width:100%;
        height: 650px;
    }
    .mainFulpage > section > h3{
        font-size:2.5em;
        padding-top: 30px;
    }
    .mainFulpage .mainBox01{
        width:100%;
        height:100vh;
    }


    .mainBox01 .main01_txt .m_bicTxt{
        font-size: 2.5em;
        line-height: 1.5em;
        font-weight: bold;
    }
    .mainBox01 .main01_txtBox .main01_txt{
        margin-top:180px;
    }
    .mainFulpage > section.mainBox04{
        height:300px;
    }
    .mainFulpage > section.mainBox05{
        height:100px;
    }
    .mainFulpage > section.partnerWrap{
        height:250px;
    }
    
    .mainFulpage h3{
        font-size:2.5em;
        margin-bottom:30px;
    }
    .partnerWrap h3{
        margin-bottom:0px;
    }
    .mainFulpage h4{
        font-size:1em;
        clear:both;
    }

    .businessBox > div > button{
        font-size:1em;
    }

    .businessBox > div > p{
        font-size:2em;
    }
    .businessBox > div{
        margin-top:170%;
    }

    .mainFulpage .mainBox03{
        width:100%;
        height:auto;
    }

    .mainBox03 .main_h_Box .prodcutList{
        display: block;
        width:80%;
        padding:40px 0;
    }


    .mainBox03 .main_h_Box .prodcutList li{
        width:100%;
        height:300px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .mainBox03 .main_h_Box .prodcutList li span a{
        top: 210px;
    }

    .partnerInner{
        margin-top: 0px !important;
    }

    footer.footerWrap .footerInner{
        flex-direction: column;
    }

    footer.footerWrap .footerInner .footerInfo {
        padding: 20px 0 20px 0;
    }
    .footerWrap .footerInner .footerCenter {
        padding: 0px 0 40px 0 !important;
    }

    footer.footerWrap .footerInner .footerInfo p,footer.footerWrap .footerInner .footerCenter p{
        font-size: 12px;
        line-height: 20px;
    }

}
 /* (max-width: 1536px)
    (max-width: 1280px)
    (max-width: 800px)
    (max-width: 640px)*/

    .mainBox03{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 32, 99, 0.7)), #2b2b2b;
        /*background: linear-gradient(top bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));*/
        position:relative;
    }
    .mainBox03 > div{
        /*position: absolute;
        top: 0;
        left: 0;
        z-index: 1; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
    }

    .mainBox04{
        background: linear-gradient(to bottom, rgba(130, 222, 253, 0.2), rgba(0, 32, 99, 0.2)), #002063;
        /*background: linear-gradient(top bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));*/
    }
    .mainBox04 .main_h_Box .titleWrap{
        width:90%;
    }
    .mainBox05 > div {
        width:50%;
        height:100%;
        float:left;
    }
    .mainBox05 > div::after{clear:both;}
    .mainBox05 > div > p> a{
        color:#fff !important;
        height: 30px;
        line-height: 30px;
        display: inherit;
    }
    .main05_Left{
        background:#CE2815;
    }
    .main05_Left p a::before{
        content: '';
        display:inline-block;
        width:30px;
        height:30px;
        background: url(../images/catalog_icon.webp) no-repeat;
        background-size: 100%;
        margin-right: 10px;
    }

    .main05_Right{
        background:#04173D;
    }

    .main05_Right p a::before{
        content: '';
        display:inline-block;
        width:30px;
        height:30px;
        background: url(../images/dataroom_icon.webp) no-repeat;
        background-size: 100%;
        margin-right: 10px;
    }

    .mainBox05 > div > p{
        text-align: center;
        line-height: 100px;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .partnerInner{
        clear:both;
        overflow: hidden;
        width: 100%;
        height: 70px;
        margin-top: 50px;
    }

    .partnerInner ul li{
        float:left;
        margin-right:50px;
    }
    .partnerInner ul li > a > img{
        width:200px;
    }

    footer.footerWrap{
        width:100%;
        background:#2B2B2B;
        color:#fff;
    }

    footer.footerWrap .footerInner ul li{
        float:left;
        margin-right:10px;
        padding:0 0 20px 0;
    }

    footer.footerWrap .footerInner ul li a{
        color:#fff;
        font-size:12px;
        font-weight: 300;
    }

    footer.footerWrap .footerInner{
        width:90%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
    }

    footer.footerWrap .footerInner .footerInfo{
        clear: both;
        font-size: 14px;
        line-height: 2.5em;
        padding: 20px 0 40px 0;
    }
    footer.footerWrap .footerInner .footerInfo .f_logo {
        margin-bottom:10px;
        clear: both;
    }
    footer.footerWrap .footerInner .footerInfo .f_logo img{
        width:150px;
    }

    .footerWrap .footerInner .footerCenter{
        line-height: 1.5em;
        padding-bottom: 20px;
        padding-top: 80px;
    }

    .footerWrap .footerInner .footerCenter .f_center{
        font-size: 2em;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 15px;
    }
    .footerWrap .footerInner .footerCenter .f_number{
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5em;
    }

    .f_time{
        font-size:14px;
    }

