@charset "UTF-8";

.Wrap{
    width:100%;
    margin:0 auto;
}

.headerWrap{
    background: #fff;
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 999;
}

.headerInner > .header01{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    margin: 0px auto;
    padding: 35px 10rem 35px 10rem;
}


.headerInner h1 img{
    width:100px;
}
.mainFulpage{
    overflow: hidden; /* 내부 콘텐츠가 넘치는 것을 숨김 */
}

/* ===== PC GNB DROPDOWN ===== */

.menuWrap{
    position:absolute;
    right:280px; 
}

/* 기본 숨김 */
.menuWrap .gnb {
    display: flex;
    gap: 45px;
}

.menuWrap .gnb > li > a {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    display: block;
    color: #111;
}

.menuWrap .gnb > li {
    position: relative;
}

.menuWrap .gnb_list02 {
    position: absolute;
    top: 182%;
    left: 0;
    display: none;
    background: #04173D;
    padding: 20px 0;
}

.menuWrap .gnb > li:hover .gnb_list02 {
    display: block;
}
.menuWrap .gnb_list02 ul li{
    padding: 20px;
    width: 200px;
}

.menuWrap .gnb_list02 a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    background:#04173D;
}

.menuWrap .gnb > li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 40px;
}

.menuWrap .gnb > li:hover .gnb_list02,
.menuWrap .gnb > li:focus-within .gnb_list02 {
    display: block;
}

.menuWrap .gnb_list02 {
    display: none;
}

.M_gnb .gnb_list02 {
    display: none;
}

.langBox{
    font-weight: 700;
}
.langBox ul li:first-child{
    margin-right:20px
}
.langBox ul{
    display: flex;
}

/* 햄버거 메뉴 버튼 스타일 */
.menu-toggle {
    display: none; /* 기본적으로 숨김 */
    font-size:3em;
    background: none;
    border: none;
    cursor: pointer;
}
/* =====================
DIM
===================== */
.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 998;
}

.dim.show {
    opacity: 1;
    visibility: visible;
}

/* =====================
MOBILE MENU
===================== */
.M_menuWrap {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 320px;
    height: 100vh;
    background: #fff;
    z-index: 999;
    transition: right 0.3s ease;
    display: block; 
}

.M_menuWrap.open {
    right: 0;
}
.M_menuWrap.active {
    right: 0;
}

.dim.active {
    display: block;
}

/* 닫기 버튼 */
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: 0;
    cursor: pointer;
}

/* 서브메뉴 */
.M_gnb .gnb_list02 {
    display: none;
}

.M_gnb > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 화살표 회전 */
.M_gnb > li.open .arrow {
    transform: rotate(180deg);
    transition: .3s;
}

/* 스크롤 잠금 */
body.menu-open {
    overflow: hidden;
}


.menu-toggle {
    display: none;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.M_gnb > li {
    border-bottom: 1px solid #eee;
}

.M_gnb > li > a {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.M_gnb .gnb_list02 {
    display: none;
    padding-left: 10px;
}

.M_gnb .gnb_list02 a {
    display: block;
    padding: 10px 0;
    font-size: 15px;
    color: #555;
}

.M_menuWrap.open{
    display: none;
}

.mainFulpage{
    clear: both;
}

.mainFulpage h3{
    font-size:4em;
    color:#fff;
    font-weight: 500;
    margin-bottom: 40px;
}

.mainFulpage h4{
    font-size:1.2em;
    line-height: 1.5em;
    color:#fff;
}

.mainFulpage .mainBox01{
    position:relative;
}

/* 비주얼 */
.mainVisualSwiper {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.mainVisualSwiper .swiper-slide {
    background-size: cover;
    background-position: center;
}

.mainVisualSwiper,
.mainVisualSwiper .swiper-wrapper,
.mainVisualSwiper .swiper-slide {
    width: 100%;
    height: 100%;
}
  
  /* 배경 이미지 */
.mainBox01_img { background:url(../images/bg01.webp) no-repeat 50% 50%; }
.mainBox02_img { background:url(../images/bg02.png) no-repeat 50% 50%; }
.mainBox03_img { background:url(../images/bg03.webp) no-repeat 50% 50%; }

.mainBox01 .main01_txtBox{
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height :100%;
    display: flex;
    align-items: center;
    justify-content: center;/* 가로 중앙 정렬 */
    text-align:center;
}

.mainBox01 .main01_txtBox .main01_txt{
    display:flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    color: #fff;
}

.mainBox01 .main01_txtBox .main01_txt h2{
    margin:10px 0;
}
.mainBox01 .main01_txtBox .main01_txt a{
    margin-top:180px;
}

.mainBox01 .main01_txt .m_smallTxt{
    font-size:1.2em;
}

.mainBox01 .main01_txt .m_bicTxt{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 500;
}

.mainBox01 .main01_txt a{
    font-size: 1.2em;
    color: #fff;
    background: #CE2815;
    padding: 25px 60px;
    border-radius: 50px;
    display: block;
}

.mainFulpage .mainBox01, .mainFulpage .mainBox02, .mainFulpage .mainBox03, .mainFulpage .mainBox04{    
    position:relative;
    height:100vh;
}

.mainFulpage .mainBox02 .main_h_Box{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}

.mainFulpage .mainBox02 .main_h_Box > div, .mainFulpage .mainBox03 .main_h_Box > div{
    display: flex;
    flex-direction:column;
    color:#fff;
    margin-top:150px;
    position:relative;
    z-index: 2;
    width:90%;
}


.businessBox {
    position: relative;
    overflow: hidden;
  }
  
  /* 배경 레이어 */
  .businessBox::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    opacity: 1;
    z-index: 1;
}

  .businessBox::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); /* 기본 어두움 */
    background-size: cover;
    background-position: center;
    transition: transform 0.6s ease;
    z-index: 0;
  }
  

.businessBox > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin-top:520px;
    position: relative;
    z-index: 2;
}

.businessBox > div > p{
    font-size: 2.5em;
    font-weight: 500;
    color:#fff;
}

.mainFulpage .mainBox02 .businessBox{
    float:left;
    width:50%;
    height:100%;
}

.main02_Left::before {
    background-image: url(../images/main02_l.png);
    position:absolute;
    top:0;
    left:0;
  }
  
.main02_Right::before {
    background-image: url(../images/main02_r.webp);
    position:absolute;
    top:0;
    left:0;
}
.businessBox:hover::before {
    transform: scale(1.08);
}

.more_btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    transition: all 0.4s ease;
    margin-top:50px;
}

.businessBox:hover .more_btn {
    background: #fff;
    color: #2b2b2b;
    border-color: #fff;
}



.more_btn:hover {
    background: #fff;
    color: #2b2b2b;
    border-color: #fff;

}

.mainBox03 .main_h_Box .prodcutList li a span{
    line-height: 1.5em;
}

.partnerWrap h3{
    color:#2B2B2B;
    float:left;
    margin-right:20px;
}
.partnerWrap h4{
    line-height:3.5em;
    color: #2b2b2b;
}
.mainFulpage .mainBox04{
    position:relative;
}
.mainFulpage .mainBox04 > div{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.mainBox04 a{
    color:#fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    margin:40px auto 0;
    display: block;
}

.mainFulpage > section.partnerWrap .titleWrap{
    width:90%;
    margin:50px auto 20px;
}



.mainFulpage > section{
    width:100%;
    height:100vh;
}


.mainBox01 .main01_txtBox .main01_txt {
    margin-top: 200px;
}
.mainBox03 button a{
    color:#fff;
    display: inline-block;
}

.mainBox03 .main_h_Box .prodcutList{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 40px;
}


.mainBox03 .main_h_Box .prodcutList li{
    width:30%;
    height:420px;
    position: relative;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    border-radius: 40px;
}

.mainBox03 .main_h_Box .prodcutList li:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.25);
    transition:.5s ease;
  }

.mainBox03 .main_h_Box .prodcutList li a .thumb::after{
    content:'';
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
    transition:opacity .35s ease;
}

.prodcutList li a{
    position:relative;
    z-index:2;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    color:#fff;
}

.mainBox03 .main_h_Box .prodcutList li a .info{
    z-index:2;
    line-height: 2em;
  }
  
  .mainBox03 .main_h_Box .prodcutList li a .info p.info_title{
    color:#fff;
    font-size:1.4rem;
    font-weight:500;
  }

  .mainBox03 .main_h_Box .prodcutList li a .info p.s_f{
    font-size: 1.1em;
    font-weight:400;
  }


.mainBox03 .main_h_Box .prodcutList li.carBox{
    background: url(../images/main03_img01.webp) no-repeat;
    background-size: 100%;
}
.mainBox03 .main_h_Box .prodcutList li.mediBox{
    background: url(../images/main03_img02.webp) no-repeat;
    background-size: 100%;
}
.mainBox03 .main_h_Box .prodcutList li.itBox{
    background: url(../images/main02_img03.png) no-repeat;
    background-size: 100%;
}

.mainFulpage > section.mainBox04{
    height:80vh;
}
.mainFulpage > section.mainBox05{
    height:20vh;
}
.mainFulpage > section.partnerWrap{
    height:270px;
}

@media all and (max-width:994px){
    .headerInner > .header01{
        padding: 35px 10rem 35px 2rem;
    }   
    .menuWrap {
        display: none;
        }
    .langBox{
        display:none;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        top: 5px;
        right: 15px;
        color: #CE2815;
    }

    .M_gnb {
        list-style: none;
        padding: 3em;
        margin: 0;
    }

    .M_gnb li {
        padding: 10px;
    }

    .M_gnb a {
        text-decoration: none;
        color: #2B2B2B;
        display: block;
    }

    .M_menuWrap.open{
        display: block;
        }

    .dim{
        display: block;
        }

    .mainFulpage > section{
        width:100%;
    }

    .mainFulpage > section > h3{
        font-size:3.5em;
    }

    .mainFulpage .mainBox01_img01{
        width:100%;
        height:auto;
        object-fit: cover;
    }
    .mainBox01 .main01_txt .m_bicTxt{
        font-size: 3.5em;
        line-height: 1.5em;
        font-weight: 500;
    }
    .mainBox01 .main01_txtBox .main01_txt {
        margin-top: 230px;
    }

    .mainBox03 .main_h_Box .prodcutList{
    padding-top: 100px;
    }   

    .mainBox03 .main_h_Box .prodcutList li{
        height:250px;
        border-radius: 25px;
    }


    .mainFulpage > section.mainBox04{
        height:80vh;
    }
    .mainFulpage > section.mainBox05{
        height:20vh;
    }   
    .mainFulpage > section.partnerWrap{
        height:270px;
    }
    footer.footerWrap .footerInner{
        justify-content: space-between;
    }
}

@media all and (max-width:640px){
    .menuWrap{
        display:none;
    }

    .mainFulpage > section{
        width:100%;
        height: 650px;
    }
    .mainFulpage > section > h3{
        font-size:2.5em;
        padding-top: 30px;
    }
    .mainFulpage .mainBox01{
        width:100%;
        height:100vh;
    }


    .mainBox01 .main01_txt .m_bicTxt{
        font-size: 2.5em;
        line-height: 1.5em;
        font-weight: 500;
    }
    .mainBox01 .main01_txtBox .main01_txt{
        margin-top:180px;
    }
    .mainFulpage > section.mainBox04{
        height:300px;
    }
    .mainFulpage > section.mainBox05{
        height:100px;
    }
    .mainFulpage > section.partnerWrap{
        height:250px;
    }

    .mainFulpage h3{
        font-size:2.5em;
        margin-bottom:30px;
    }
    .partnerWrap h3{
        margin-bottom:0px;
    }
    .mainFulpage h4{
        font-size:1em;
        clear:both;
    }

    .businessBox > div > button{
        font-size:1em;
    }

    .businessBox > div > p{
        font-size:2em;
    }
    .businessBox > div{
        margin-top:170%;
    }

    .mainFulpage .mainBox03{
        width:100%;
        height:auto;
    }

    .mainBox03 .main_h_Box .prodcutList{
        display: block;
        width:80%;
        padding:40px 0;
    }


    .mainBox03 .main_h_Box .prodcutList li{
        width:100%;
        height:300px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .mainBox03 .main_h_Box .prodcutList li span a{
        top: 210px;
    }

    .partnerInner{
        margin-top: 0px !important;
    }

    footer.footerWrap .footerInner{
        flex-direction: column;
    }

    footer.footerWrap .footerInner .footerInfo {
        padding: 20px 0 20px 0;
    }
    .footerWrap .footerInner .footerCenter {
        padding: 0px 0 40px 0 !important;
    }

    footer.footerWrap .footerInner .footerInfo p,footer.footerWrap .footerInner .footerCenter p{
        font-size: 12px;
        line-height: 20px;
    }
}

.mainBox03{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 32, 99, 0.7)), #2b2b2b;
    position:relative;
}
.mainBox03 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.mainBox04{
    background: linear-gradient(to bottom, rgba(130, 222, 253, 0.2), rgba(0, 32, 99, 0.2)), #002063;
}
.mainBox04 .main_h_Box .titleWrap{
    width:90%;
}
.mainBox05 > div {
    width:50%;
    height:100%;
    float:left;
}
.mainBox05 > div::after{clear:both;}
.mainBox05 > div > p> a{
    color:#fff !important;
    height: 30px;
    line-height: 30px;
    display: inherit;
}
.main05_Left{
    background:#CE2815;
}
.main05_Left p a::before{
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background: url(../images/catalog_icon.webp) no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.main05_Right{
    background:#04173D;
}

.main05_Right p a::before{
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background: url(../images/dataroom_icon.webp) no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.mainBox05 > div > p{
    text-align: center;
    line-height: 100px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.partnerInner{
    clear:both;
    overflow: hidden;
    width: 100%;
    height: 70px;
    margin-top: 50px;
}

.partnerInner div div{
    float:left;
    margin-right:50px;
}
.partnerInner div div a img{
    width:200px;
}

footer.footerWrap{
    width:100%;
    background:#2B2B2B;
    color:#fff;
}

footer.footerWrap .footerInner ul li{
    float:left;
    margin-right:10px;
    padding:0 0 20px 0;
}

footer.footerWrap .footerInner ul li a{
    color:#fff;
    font-size:12px;
    font-weight: 300;
}

footer.footerWrap .footerInner{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}

footer.footerWrap .footerInner .footerInfo{
    clear: both;
    font-size: 14px;
    line-height: 2.5em;
    padding: 20px 0 40px 0;
}
footer.footerWrap .footerInner .footerInfo .f_logo {
    margin-bottom:10px;
    clear: both;
}
footer.footerWrap .footerInner .footerInfo .f_logo img{
    width:150px;
}

.footerWrap .footerInner .footerCenter{
    line-height: 1.5em;
    padding-bottom: 20px;
    padding-top: 80px;
}

.footerWrap .footerInner .footerCenter .f_center{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 15px;
}
.footerWrap .footerInner .footerCenter .f_number{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.5em;
}

.f_time{
    font-size:14px;
}

/* [1. PC 기준 기본 스타일] */
.ticker-viewport {
    overflow: hidden;
    background: #fff; 
    padding: 30px 0;
    display: flex !important; /* 중요: 트랙들을 강제로 가로 나열 */
    position: relative;
  }

  .ticker-track {
    display: flex !important;
    flex-shrink: 0;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
  }

  @keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  .ticker-item {
    padding: 0 50px;
    display: flex;
    align-items: center;
  }
  /* 마우스 호버 시 정지 (PC 전용) */
  .ticker-viewport:hover .ticker-track {
    animation-play-state: paused;
  }

  /* [2. 모바일 미디어쿼리] */
  @media (max-width: 768px) {
    .ticker-item {
      font-size: 20px; /* 모바일에서는 글자를 작게 */
      padding: 0 30px; /* 간격도 조정 */
    }
    .ticker-viewport {
      padding: 20px 0;
    }
  }